* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

nav {
  margin: 0 auto;
  padding: 15px 0 15px 15px;
  box-sizing: border-box;
  background-color: #000000;
}

.container {
  padding: inherit;
  margin: 0 auto;
  width: 420px;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
}

h3 {
  font-size: 12px;
  line-height: 21px;

}

.restaurant-list {
 display: inline;
}

.location {
  background-color: #f4f4f4;
  padding: 15px;
  border-bottom: .5px solid #000000;
}

.location:hover { background-color: #d7ebf4; } /* mouse over */

.arrow {
  box-sizing: border-box;
  float: right;
}

.content {
  box-sizing: border-box;
  width: 90%;

}
